.wrap {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 400;
  font-size: 30px;
}